<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>5NS9ZUMYCS</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>destination</key>
    <string>upload</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>apiKey</key>
    <dict>
        <key>keyId</key>
        <string>L8VPZGLM970R</string>
        <key>issuerId</key>
        <string>19020611-ed38-4968-8ca9-4592b8171acc</string>
        <key>key</key>
        <string>/Users/zoharbuchris/Documents/CalCalculator/fastlane/AuthKey.p8</string>
        <key>isKeyContentBase64</key>
        <false/>
    </dict>
</dict>
</plist>


